# Build directories
build/
out/

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/
compile_commands.json
install_manifest.txt

# Binaries and libs
*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.exp
*.pdb

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
